version: '3.8'

services:
  # 1. The App
  news-app:
    build: .
    ports:
      - "8501:8501" # Streamlit UI
      - "8000:8000" # Metrics Port
    depends_on:
      - redis-db

  # 2. The Database
  redis-db:
    image: redis:alpine
    ports:
      - "6379:6379"

  # 3. The Spy (Prometheus)
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  # 4. The Dashboard (Grafana)
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus